body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    height: 100svh;
    max-height: 100vh;
    max-width: 100vw;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

.logo {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

.logo ~ .content .hoop-container {
    opacity: 0;
}

.logo img {
    background-color: white;
    border: 16px solid black;
    width: 30%;
    min-width: 170px;
    height: auto;
    border-radius: 50%;
    margin-top: 24px;
    max-width: 400px;
}

.logo .text {
    margin-top: 24px;
    font-size: 32px;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.play-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-overlay-hide {
    animation: hide-play 0.5s;
}

.scores {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    font-size: 32px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    pointer-events: none;
}

@media (max-width: 600px) {
    .scores {
        font-size: 24px;
    }
}

.scores .overall {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.scores .current {
    display: flex;
    flex-direction: column;
}

.bounces-score, .overall-score {
    border-radius: 16px;
}

@keyframes hide-play {
    from {opacity: 1}
    to {opacity: 0}
}

.play-overlay img {
    padding: 12px;
    background-color: black;
    border-radius: 50%;
}

.change-scenery {
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-color: white;
    animation: 2s change forwards;
    align-items: center;
    justify-content: center;
    display: none;
}

@keyframes change {
    0% {opacity: 0}
    25% {opacity: 1}
    75% {opacity: 1}
    100% {opacity: 0}
}

.change-scenery img {
    width: 50%;
    height: auto;
    animation: pop 2s;
}

@keyframes pop {
    0% {transform: scale(0)}
    25% {transform: scale(1)}
    75% {transform: scale(1)}
    100% {transform: scale(0)}
}

.game-over {
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: none;
    animation: 0.5s over-appear;
    flex-direction: column;
    pointer-events: none;
    gap: 24px;
}

.game-over .text {
    font-size: 32px;
}

.game-over a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    padding: 24px 24px 16px 24px;
    border-radius: 4px;
    background-image: linear-gradient(rgba(252,141,21,254), rgba(214,37,13,254));
}

@keyframes over-appear {
    from {opacity: 0}
    to {opacity: 1}
}

.game-over img {
    width: 80%;
    max-width: 300px;
    height: auto;
    animation: pop-in 0.5s 0.5s forwards;
    opacity: 0;
}

@keyframes pop-in {
    0% {transform: scale(0); opacity: 0}
    80% {transform: scale(1.02); opacity: 1}
    90% {transform: scale(1); opacity: 1}
    100% {transform: scale(1); opacity: 1}
}

.content {
    background-image: url("assets/gyms/hall1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width: 100%;
    height: 100%;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    overflow: hidden;
}

.ball {
    position: absolute;
    height: 10%;
    aspect-ratio: 1;
    display: inline-block;
    border-radius: 50%;
    left: 96px;
    background-size: cover;
    background-image: url("assets/basketballs/ball1.png");
    z-index: 2;
}

.hoop-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    pointer-events: none;
    overflow: hidden;
    opacity: 1;
    transition: 0.2s;
}


.hoop-img {
    position: absolute;
    top: 20%;
    height: 80%;
    z-index: 1;
    max-width: 100%;
    object-fit: cover;
}

.hoop-overlay {
    position: absolute;
    top: 20%;
    height: 80%;
    z-index: 3;
}

.hoop-boundaries {
    position: absolute;
    height: 80%;
    aspect-ratio: 150/263;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    gap: 44%;
}

.hoop-checkpoints {
    position: absolute;
    height: 80%;
    aspect-ratio: 150/263;
    bottom: 0;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    max-width: 100%;
    object-fit: cover;
}

.boundary, .boundary-1 {
    position: relative;
    top: 29%;
    /* Only for debugging */
    /* background-color: blue;*/
    width: 4%;
    height: 2%;
    min-width: 12px;
    min-height: 12px;
    display: inline-block;
}

.checkpoint, .checkpoint-1 {
    position: relative;
    /* Only for debugging */
    /* background-color: greenyellow;*/
    top: 11%;
    width: 37%;
    height: 20%;
    display: inline-block;
}